.container, header{
    margin: 0 auto;
    padding: 0 auto;
    width: 1000px;
}
h1{
    font-size: 40pt;
    font-weight: 800;
    font-family: 'Arial';
	max-width:660px;
	float:right;
	text-align:center;
}
#ikon{
    float: left;
    margin-right: 40px;
    margin-top: 20px;
}
.flexdiv, header{
    display:flex;
}
.auto{
    width: 500px;
    border: 1px solid black;
	margin: 5px;
	padding:5px;
	text-align:center;
}