.container{
    margin: 0 auto;
    padding: 0 auto;
    width: 1000px;
}
#focim{
    float: left;
    margin-top: 40px;
    margin-left: 60px;
    font-size: 40pt;
    font-weight: 800;
    font-family: 'Arial';
}
#logo{
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}
.auto{
    width:200px;
}